body{
    background-color: #22212C;
    color: #837E9F;
    margin: 3% 2%;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    display: grid;
    grid-template-areas: 
      "section  aside"
      "footer footer"
    ;
    grid-template-columns: 1fr 2fr  ;  
}
sector{grid-area:sector;}
aside{grid-area:aside;}
footer{
    grid-area: footer; 
    text-align: center;
    font-style: italic;
}

div{
    background-color: #302F3D;
    border-radius: 20px;
    width: 348px;
    margin-bottom: 20px;
    box-shadow: black 2px 2px 2px;
}
#profile{
    height: 292px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#profile p{
    margin-top: -10px; 
}
#profile img{
    width:128px;
    border: solid 3px greenyellow;
    border-radius: 50%;
}
#links{
   height: 330px;
   box-sizing: border-box;
   padding: 20px 20px 10px;    
}
#links p{
    display: flex;
    align-items: center;
}
#links svg{
    padding: 0 15px;
}
#tecnologies{
    height: 200px;
    box-sizing: border-box;
    padding: 10px 20px;
}
#tecnologies ul{
    margin-left: -40px;   
}
#tecnologies li{
    display: flex;
    justify-content: space-between;
}

#tecnologies .tec{
    background-color: #CB92B1;
    color: #22212C;
    width: 90px;
    height: 20px;
    text-align: center;
    position: relative;
    font-size: 12px;
    box-sizing: border-box;
    padding-top: 3px;
}
#experiences{
    height: 270px;
    box-sizing: border-box;
    padding: 10px 20px;
}
#experiences li{
    margin-bottom: 10px;
}

#education{
    height: 270px;
    box-sizing: border-box;
    padding: 10px 20px;
}
#education li{
    margin-bottom: 10px; 
}

#projects, #posts,#onePost{
    width: 100%;
    height: 80px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
}
#proj #mark{
    position: relative;
    left: 55%;
}

#proj{
    height: 130px;
    width: 420px;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 10px;
    box-shadow: gray 2px 2px 2px;
}
a{
    color: inherit;
    text-decoration: none;
}

@media (max-width:900px) {
    body{
        grid-template-areas: 
            "sector"
            "aside"
            "footer";
    }
    #projects,#posts,#proj{
        width:348px ;
    }
}

